#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ___ &trans
#define OUTPUT_SOURCE_LAYER_STATE_CHANGE        1
#define OUTPUT_SOURCE_KEYCODE_STATE_CHANGE      3

&lt {
    flavor = "balanced";
    quick-tap-ms=<175>;
    tapping-term-ms=<200>;
    retro-tap;
};

/ {
	haptic_bump_l: haptic_bump_l {
		compatible = "zmk,output-behavior-generic";
		#binding-cells = <0>;
		device = <&haptic_l>;
		force = <1>;
	};

	haptic_bump_r: haptic_bump_r {
		compatible = "zmk,output-behavior-generic";
		#binding-cells = <0>;
		device = <&haptic_r>;
		force = <4>;
	};

	haptic_layer {
		compatible = "zmk,output-behavior-listener";
		layers = <1>;
		sources = <OUTPUT_SOURCE_LAYER_STATE_CHANGE>;
		bindings = <&haptic_bump_l &haptic_bump_r>;
		all-state;
	};

	haptic_key_b {
		compatible = "zmk,output-behavior-listener";
		sources = <OUTPUT_SOURCE_KEYCODE_STATE_CHANGE>;
		layers = <0>;
		position = <0x05>;
		bindings = <&haptic_bump_l>;
	};

	haptic_key_j {
		compatible = "zmk,output-behavior-listener";
		sources = <OUTPUT_SOURCE_KEYCODE_STATE_CHANGE>;
		layers = <0>;
		position = <0x0D>;
		bindings = <&haptic_bump_r>;
	};

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
                &kp B   &kp L   &kp D   &kp C   &kp V       &kp SQT   &kp F   &kp O       &kp U   &kp J
                &kp N   &kp R   &kp T   &kp S   &kp G       &kp Y     &kp H   &kp A       &kp E   &kp I
                        &kp X   &kp M   &kp W                         &kp P   &kp COMMA   &kp DOT
                                                &lt 1 SPACE &mo 1
            >;
        };

		numbers {
			bindings = <
				&kp N1   &kp N2   &kp N3   &kp N4   &kp N5       &kp N6   &kp N7   &kp N8   &kp N9  &kp N0
				___      ___      ___	   ___      ___          ___      ___      ___      ___     ___
			             ___      ___	   ___                            ___      ___	    ___         
						                            ___		     ___
			>;
		};
    };
};